/* Element Variables */

// Override Element UI variables

$--color-success: #2F8A57;
$--color-danger: #C53B2C;
$--color-info: #5d5d5d;
$--button-font-weight: 400;
$--border-color-light: #dfe4ed;
$--border-color-lighter: #e6ebf5;
$--table-border:1px solid #dfe6ec;
$--color-primary:#2F4858;
$--color-warning:#B08A4D;
$--color-text-primary:#20232A;
$--color-text-regular:#818693;
$--color-text-placeholder:#BAC0CD;
$--border-color-base:#DED7CA;
$--background-color-base:#F8F5EF;

// Icon font path, required
$--font-path: '~element-ui/lib/theme-chalk/fonts';

// Apply overrided variables in Element UI
@import '~element-ui/packages/theme-chalk/src/index';
